<app-logo></app-logo>
<br><br><br>
<!--PRUEBA DE TIENDA -->
<link rel="stylesheet" type="text/css" href="/assets/css/css_popular_start/style.css">

<!--AGREGAR VINCULO DE ANIMACION-->
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="/assets/css/css_popular_start/bootstrap.min.css">
<!-- Responsive-->
<link rel="stylesheet" href="/assets/css/css_popular_start/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="/assets/css/css_popular_start/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="/assets/css/css_popular_start/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/css/css_popular_start/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<!--AGREGAR VINCULO DE ANIMACION-->

<!-- section POPULAR STORES start -->

  <div class="container">
    <!--<h1 class="popular_taital">POPULAR <span style="border-bottom: 5px solid #4bc714;">STORES</span></h1>-->
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="popular_section_2">
          <div class="slider_img"><img src="assets/imagen/img-7.png" style="max-width: 100%;"></div>
              <h2 class="electronic_text">INGENIERIA</h2>
              <p class="contrary_text">Personal certificado en cada una de las especialidades buscando así la correcta implementación de las soluciones y servicios.</p>
                    <!--<button class="view_bt"><a routerLink="/portfolio" target="">PTE</a></button>-->
            </div>
            </div>
        <div class="carousel-item">
            <div class="popular_section_2">
          <div class="slider_img"><img src="assets/imagen/img-11.png"style="max-width: 100%;"></div>
              <h2 class="electronic_text">PRODUCTOS</h2>
              <p class="contrary_text">Proveedores de primera, que nos garantizan un óptimo desempeño e implementación  de los proyectos</p>
                    <!--<button class="view_bt"><a routerLink="/sub-porfolio" target="">PTE</a></button>-->
            </div>
            </div>
        <div class="carousel-item">
            <div class="popular_section_2">
          <div class="slider_img"><img src="assets/imagen/img-8.png"style="max-width: 100%;"></div>
          <h2 class="electronic_text">TECNICO</h2>
          <p class="contrary_text">Operamos como parte del equipo de nuestros clientes y ofrecemos soluciones a sus imprevistos seleccionando a los especialistas más adecuados para la actividad.</p>
         <!--No te conformes con lo que necesitas, ¡ve por lo que te mereces!-->
                <!--<button class="view_bt"><a routerLink="/services" target="">VER MAS</a></button>-->
        </div>
        </div>
        <!--PRUEBA-->
        <div class="carousel-item">
            <div class="popular_section_2">
          <div class="slider_img"><img src="assets/imagen/img-12.png"style="max-width: 100%;"></div>
          <h2 class="electronic_text">SEGURIDAD</h2>
          <p class="contrary_text">Los peligros y las condiciones que pueden provocar daños de tipo físico, psicológico o material son controlados para preservar la salud y el bienestar de nuestros clientes, manteniendo en total confidencialidad sus proyectos</p>
         <!--No te conformes con lo que necesitas, ¡ve por lo que te mereces!-->
                <!--<button class="view_bt"><a routerLink="/portfolio" target="">VER MAS</a></button>-->
        </div>
        </div>
        <!--PRUEBA-->
                <!--PRUEBA-->
                <div class="carousel-item">
                    <div class="popular_section_2">
                  <div class="slider_img"><img src="assets/imagen/img-13.png"style="max-width: 100%;"></div>
                  <h2 class="electronic_text">INNOVADOR</h2>
                  <p class="contrary_text">Es un proceso de modificar elementos, ideas o protocolos ya existentes, mejorándolos o creando nuevos que impacten de manera favorable.</p>
                 <!--No te conformes con lo que necesitas, ¡ve por lo que te mereces!-->
                        <!--<button class="view_bt"><a routerLink="/portfolio" target="">VER MAS</a></button>-->
                </div>
                </div>
                <!--PRUEBA-->
                <!--PRUEBA-->
                <div class="carousel-item">
                    <div class="popular_section_2">
                  <div class="slider_img"><img src="assets/imagen/img-9.png"style="max-width: 100%;"></div>
                  <h2 class="electronic_text">PRECIOS JUSTOS</h2>
                  <p class="contrary_text">Vender a precios bajos significa realizar algún sacrificio, como desmejorar la calidad del producto o de los servicios, te ofrecemos calidad.</p>
                 <!--No te conformes con lo que necesitas, ¡ve por lo que te mereces!-->
                        <!--<button class="view_bt"><a routerLink="/portfolio" target="">VER MAS</a></button>-->
                </div>
                </div>
                <!--PRUEBA-->
                <!--PRUEBA-->
                <div class="carousel-item">
                    <div class="popular_section_2">
                  <div class="slider_img"><img src="assets/imagen/img-15.png"style="max-width: 100%;"></div>
                  <h2 class="electronic_text">ORDEN Y ASEO</h2>
                  <p class="contrary_text"> El orden y aseo reflejan la disciplina de
                    nuestro personal en el cumplimiento de su trabajo</p>
                 <!--No te conformes con lo que necesitas, ¡ve por lo que te mereces!-->
                        <!--<button class="view_bt"><a routerLink="/portfolio" target="">VER MAS</a></button>-->
                </div>
                </div>
                <!--PRUEBA-->
            
    </div>
    <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="carousel-control-next" href="#main_slider" role="button" data-slide="prev">
        <i class="fa fa-angle-right"></i>
    </a>

</div>
</div>
<!-- section POPULAR STORES end -->
<br>