  <!-- About Section Start -->
  <app-logo></app-logo>
  <br><br><br>
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
            <img class="img-fluid" src="assets/img/about/Logo.png" alt="">
          </div>
        </div> 
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
            <h3>{{config.aboutComponent.welcom}}</h3>
            <p>{{config.aboutComponent.Descripcion}}</p>
            <div class="about-profile">
              <ul class="admin-profile">
                <!--<li><span class="pro-title"> {{config.aboutComponent.Name}} </span> <span class="pro-detail">{{config.aboutComponent.NameDes}}</span></li>-->
                <!--<li><span class="pro-title"> {{config.aboutComponent.Age}} </span> <span class="pro-detail">{{config.aboutComponent.AgeDes}}</span></li>-->
                <!--<li><span class="pro-title"> {{config.aboutComponent.Experience}} </span> <span class="pro-detail">{{config.aboutComponent.ExperienceDes}}</span></li>-->
                <!--<li><span class="pro-title"> {{config.aboutComponent.Country}} </span> <span class="pro-detail">{{config.aboutComponent.CountryDes}}</span></li>-->
                <!--<li><span class="pro-title"> {{config.aboutComponent.Location}} </span> <span class="pro-detail">{{config.aboutComponent.LocationDes}}</span></li>-->
                <!--<li><span class="pro-title"> {{config.aboutComponent.email}} </span> <span class="pro-detail">{{config.aboutComponent.emailDes}}</span></li>
                <li><span class="pro-title"> {{config.aboutComponent.Phone}} </span> <span class="pro-detail">{{config.aboutComponent.PhoneDes}}</span></li>-->
                <!--<li><span class="pro-title"> {{config.aboutComponent.Freelance}} </span> <span class="pro-detail">{{config.aboutComponent.FreelanceDes}}</span></li>-->
              </ul>
            </div>
            <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Descargar Catalogo</a>
            <a href="mailto:edwin.linaresb@gmail.com" class="btn btn-danger"><i class="icon-speech"></i> {{config.aboutComponent.ContactMe}}</a>
          </div>
        </div>   
      </div>
    </div>
  </section>
  <!-- About Section End -->
  
