 <!-- Header Area wrapper Starts -->
 <header id="header-wrap">

    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center"><br>
            <div class="contents">
              <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">{{config.headerComponent.Welcom}}</h5>
              <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">{{config.headerComponent.Name}}</h2>
              <p class="script-font wow fadeInUp" data-wow-delay="0.6s">{{config.headerComponent.Descripcion}}</p>
              <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                <li>
                  <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                </li>
               <li>
                  <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                </li>
                <li>
                  <a class="linkedin" href="#"><i class="icon-social-linkedin"></i></a>
                </li>
                <li>
                  <a class="google" href="#"><i class="icon-social-google"></i></a>
                </li>
              </ul>
              <div class="header-button wow fadeInUp" data-wow-delay="1s">
                <a routerLink="/portfolio" class="btn btn-common" target="">{{config.headerComponent.Boton}}</a> 
                <!--onclick="alert('excelente')"--><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->

  </header>
  <!-- Header Area wrapper End -->
  <!--<app-sub-porfolio></app-sub-porfolio>-->
  <!--<app-contact></app-contact>-->
  <app-services></app-services>
  <app-about></app-about>
  <app-resume></app-resume>
 
  <!--Boton de whatsapp-->

  <!--<a href="https://api.whatsapp.com/send?phone=+57 3232482907&text=Hola, Nececito mas informacion!" target="_blank">
    <img src="assets/img/logowhat.png" width="100" height="100"></a>-->


