<app-menu></app-menu>

<!--<iframe src="https://nicepage.com/es/k/tiendas-plantilla-html5" width="1330" height="700"></iframe>-->

<div class="col-md-12">

<iframe src="https://onedrive.live.com/embed?cid=597D4E919E9E9D3D&resid=597D4E919E9E9D3D%218068&authkey=AGi9UozWaH_R7uc&em=2" width=100% height="550" ></iframe>
</div>


<!--<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #employeeForm = "ngForm" (ngSubmit)="addEmployee (employeeForm)">
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
        </div>
    </div>
</div>-->

  <div class="col-md-12">
    <object style="border:0; height: 500px; width: 100%;" data="https://www.google.com/maps/d/embed?mid=1A6RwgHINgYdmMjlvBiCsSzvx6SZKnkZg&ehbc=2E312F"></object>
      </div>

   