<app-menu></app-menu>
<br><br><br><br><br>
<!--<iframe src="https://nicepage.com/es/k/tiendas-plantilla-html5" width="1330" height="700"></iframe>-->
<!--<iframe src="https://onedrive.live.com/embed?cid=597D4E919E9E9D3D&resid=597D4E919E9E9D3D%218068&authkey=AGi9UozWaH_R7uc&em=2" width="1330" height="700" ></iframe>-->

<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <!--<form #employeeForm = "ngForm" (ngSubmit)="addEmployee (employeeForm)">
                    </form>-->
                </div>
            </div>
        </div>
        <div class="col s7">


        </div>
    </div>
</div>

<br><br><br><br>





