    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>

            <a href="index.html" class="navbar-brand"><img src="assets/img/logo (3).png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
              
     <!--MENU HOME--> 
             <!-- <li class="nav-item active">
                <a class="nav-link" routerLink="/header">
                  {{config.menuComponent.Home}}
                </a>
              </li>-->
     <!--MENU ABOUT--> 
              <!--<li class="nav-item">
                <a class="nav-link" routerLink="/about" target="">
                  {{config.menuComponent.About}}
                </a>
              </li>-->
     <!--MENU SERVICES-->            
              <!--<li class="nav-item">
                <a class="nav-link" routerLink="/services" target="">
                  {{config.menuComponent.Services}}
                </a>
              </li>-->
     <!--MENU RESUME-->          
              <li class="nav-item">
                <a class="nav-link" routerLink="/resume" target="">
                  {{config.menuComponent.Resume}}
                </a>
              </li>
     <!--MENU WORK-->          
             <!--<li class="nav-item">
                <a class="nav-link" routerLink="/portfolio" target="" >
                  {{config.menuComponent.Work}}
                </a>
              </li>-->
     <!--MENU VENTANA--> 
         <li class="nav-item">
          <a class="nav-link" routerLink="/window" target="">
            {{config.menuComponent.Window}}
          </a>
        </li>
      <!--MENU PROGRAMACION--> 
          <li class="nav-item">
           <a class="nav-link" routerLink="/programacion" target="">
                {{config.menuComponent.programacion}}
              </a>
            </li>
     <!--MENU CONTACTO--> 
     <!--<li class="nav-item">
      <a class="nav-link" routerLink="/contact" target="">
        {{config.menuComponent.Contact}}
      </a>
    </li>-->
     <!--MENU LOGIN-->         
              <!--<li class="nav-item">
                <a class="nav-link" routerLink="/login">
                  {{config.menuComponent.Login}}
                </a>
              </li> -->

     <!--ABRIR EN UNA NUEVA VENTANA-->         
              <!--<li class="nav-item"><a class="nav-link" routerLink="/footer" target="_blank" rel="noreferrer noopener" >{{config.menuComponent.Login}}</a></li>
       REFERENCIA INICIAL DE PLANTILLA    
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  {{config.menuComponent.Contact}}
                </a>
              </li>

              -->
            </ul>
          </div>
        </div>
  
        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#resume">resume</a>
          </li>
          <li>
            <a href="#portfolio">Work</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
      <!-- Navbar End -->
