  <!-- Resume Section Start -->
  <div id="resume" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="education wow fadeInRight" data-wow-delay="0.3s">
            <ul class="timeline">
              <li>
                <i class="icon-graduation"></i>
                <h2 class="timelin-title">Formacion</h2>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Especializacion Gerencia Mantenimiento - Universidad ECCI</h3>
                  <span>2020 - En Curso</span>
                  <p class="line-text">La Gerencia de Mantenimiento es la disciplina encargada de garantizar la vida útil de la maquinaria y equipos utilizados para transformar, almacenar o movilizar productos en proceso, materias primas o productos terminados.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Ingeniero Mecatronico - Universidad ECCI</h3>
                  <span>2016 - 2020</span>
                  <p class="line-text">La Ingeniería Mecatrónica es la disciplina encargada del diseño y creación de tecnologías para el desarrollo de productos y procesos industriales, integrando áreas como la informática, electrónica,electricidad y mecánica, las cuales contribuyen con la implementación de procedimientos automatizados que garantizan una mayor productividad y competitividad.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Tecnologo Electricidad Industrial - SENA</h3>
                  <span>2012 - 2014</span>
                  <p class="line-text">El Tecnólogo en Electricidad Industrial cuenta con habilidades en desarrollar competencias para enfrentar y resolver problemas de su entorno relacionados con la generación, transmisión, distribución, control y mantenimiento de la infraestructura de energía eléctrica.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="experience wow fadeInRight" data-wow-delay="0.6s">
            <ul class="timeline">
              <li>
                <i class="icon-briefcase"></i>
                <h2 class="timelin-title">Experiencia</h2>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">DELTEC - Bogotá-Colombia</h3>
                  <span>Ene 2016 - Present</span>
                  <p class="line-text">Manejo de las normas de seguridad, instalación y funcionamiento de los equipos, asegurando los servicios en MT y BT. Elaboración de los trámites ante Enel para la ejecución de trabajos, manejo de plataforma E4E.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">JMD INGENIERIA S.A.S - Bogotá-Colombia</h3>
                  <span>May 2014 - Sep 2014</span>
                  <p class="line-text">Adquirí nuevas competencias para la construcción de subestaciones para aplicaciones industriales haciendo uso de sistemas de distribución como electro barras e instalación de puestas a tierra y apantallamiento, (protección contra rayos).</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">INDUSEL S.A - Bogotá-Colombia</h3>
                  <span>Oct 2013 - Abr 2014</span>
                  <p class="line-text">Mantener en condiciones operativas los equipos y artefactos eléctricos de la compañía, realizando actividades preventivas y correctivas de equipos y garantizando el buen funcionamiento de los mismos. Instalación de cableado estructurado eléctrico, para equipos de potencia y maquinas industriales, reparación de motores y máquinas de automatización.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Resume Section End -->


