<!--<app-logo></app-logo>-->
<!--<br><br><br>-->

<section id="services" class="services section-padding">
  <!--<h2 class="section-title wow flipInX" data-wow-delay="0.4s">FORMACION</h2>-->
<div class="container">
  <div class="row">

<!-- Resume Section Start -->
  <div id="resume" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="education wow fadeInRight" data-wow-delay="0.3s">
            <ul class="timeline">
              <li>
                <i class="icon-graduation"></i>
                <h2 class="timelin-title">Formacion</h2>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Especialización Gerencia Mantenimiento</h3>
                  <span>2023</span>
                  <p class="line-text">La Gerencia de Mantenimiento es la disciplina encargada de garantizar la vida útil de la maquinaria y equipos utilizados para transformar, almacenar o movilizar productos en proceso, materias primas o productos terminados.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Ingeniero Mecatronico</h3>
                  <span>2018 - 2020</span>
                  <p class="line-text">La Ingeniería Mecatrónica es la disciplina encargada del diseño y creación de tecnologías para el desarrollo de productos y procesos industriales, integrando áreas como la informática, electrónica,electricidad y mecánica, las cuales contribuyen con la implementación de procedimientos automatizados que garantizan una mayor productividad y competitividad.</p>
                </div>
              </li>
              <!--<li>
                <div class="content-text">
                  <h3 class="line-title">Tecnologo Electricidad Industrial</h3>
                  <span>2012 - 2014</span>
                  <p class="line-text">El Tecnólogo en Electricidad Industrial cuenta con habilidades en desarrollar competencias para enfrentar y resolver problemas de su entorno relacionados con la generación, transmisión, distribución, control y mantenimiento de la infraestructura de energía eléctrica.</p>
                </div>
              </li>-->
            </ul>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="experience wow fadeInRight" data-wow-delay="0.6s">
            <ul class="timeline">
              <li>
                <i class="icon-briefcase"></i>
                <h2 class="timelin-title">__</h2>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Tecnologo Automatización y Robotica Industrial</h3>
                  <span>2016 - 2018</span>
                  <p class="line-text">El tecnologo en Automatización y Robótica Industrial cuenta con habilidades para enfrentar los desafíos de la industria moderna. A través de un enfoque práctico y multidisciplinario, con habilidades en informática, electrónica y mecánica, lo que les permite diseñar, implementar y mantener sistemas automatizados y robóticos en diversos sectores.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Tecnologo Electricidad Industrial</h3>
                  <span>2012 - 2014</span>
                  <p class="line-text">El Tecnólogo en Electricidad Industrial cuenta con habilidades en desarrollar competencias para enfrentar y resolver problemas de su entorno relacionados con la generación, transmisión, distribución, control y mantenimiento de la infraestructura de energía eléctrica.</p>
                </div>
              </li>
              <!--<li>
                <div class="content-text">
                  <h3 class="line-title">INDUSEL S.A - Bogotá-Colombia</h3>
                  <span>Oct 2013 - Abr 2014</span>
                  <p class="line-text">Mantener en condiciones operativas los equipos y artefactos eléctricos de la compañía, realizando actividades preventivas y correctivas de equipos y garantizando el buen funcionamiento de los mismos. Instalación de cableado estructurado eléctrico, para equipos de potencia y maquinas industriales, reparación de motores y máquinas de automatización.</p>
                </div>
              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Resume Section End -->
  
  <br><br><br>

